.main > .item {
    max-width: 390px;
    width: calc(33% - 10px * 2 - 10px * 2);
    height: 300px;
}

.main > .item > .row {
    width: 100%;
}

.main > .item > .row.row3 > ul {
    width: calc(100% - 70px - 10px - 5px * 2);
    margin: 5px 10px 0 0;
    padding: 5px 5px 5px 10px;
    border: 1px solid #e4e4e4;
    height: 210px;
}

.main > .item > .row.row3 > ul {
    overflow-y: auto;
}

.main > .item > .row.row3 > ul > li {
    height: 25px;
    line-height: 25px;
}

.main > .item > .row.row3 > ul > li > .name {
    width: 130px;
    float: left;
    font-size: 14px;
}
.main > .item > .row.row3 > ul > li > .type{
    width: 50px;
    float: left;
    font-size: 14px;
}

.main > .item > .row.row3 > ul > li > .option {
    float: right;
    font-size: 16px;
    margin-right: 10px;
    cursor: pointer;
}

.main > .item > .row.row3 > ul > li > .option.li-detail:hover {
    color: green;
}