.main > .item {
    width: 325px;
    height: 320px;
}

.main > .item >.inner > .row {
    width: 100%;
}

.main > .item >.inner > .row>.title {
    width: 50px;
}

.main > .item >.inner> .row.row3 > ul {
    width: 230px;
    margin: 5px 10px 0 0;
    padding: 5px 5px 5px 10px;
    border: 1px solid #e4e4e4;
    height: 200px;
}

.main > .item >.inner> .row.row3 > ul {
    overflow-y: auto;
}

.main > .item >.inner> .row.row3 > ul > li {
    height: 25px;
    line-height: 25px;
}

.main > .item >.inner> .row.row3 > ul > li > .name {
    width: 130px;
    float: left;
    font-size: 14px;
}
.main > .item >.inner> .row.row3 > ul > li > .type{
    width: 40px;
    float: left;
    font-size: 14px;
}

.main > .item >.inner> .row.row3 > ul > li > .option {
    float: right;
    font-size: 16px;
    margin-right: 10px;
    cursor: pointer;
}

.main > .item >.inner> .row.row3 > ul > li > .option.li-detail:hover {
    color: green;
}