.main > .item {
    width: 520px;
    height: 160px;
}

.main > .item > .inner > .row.row1 {
    width: 200px;
    margin: 0 15px 0 0;
    height: 108px;
    background: #ccc;
}

.main > .item > .inner > .row.row1 > img {
    width: 100%;
    height: 100%;
}

.main > .item > .inner > .row.row2,
.main > .item > .inner > .row.row3,
.main > .item > .inner > .row.row4 {
    width: calc(100% - 200px - 15px);
}