.main > .item {
    width: 520px;
    height: 92px;
}

.main > .item > .inner > .row {
    width: 33%;
}

.main > .item > .inner > .row >.title{
    width: 45px;
}

.main > .item > .inner > .row.row2 {
    width: 20%;
}

.main > .item > .inner > .row.row3 {
    width: 45%;
}
.main > .item > .inner > .row.row4 {
    width: 100%;
}

.main > .item > .inner > .row.row4 > p {
    float: left;
    width: calc(100% - 70px);
    height: 30px;
}
/*

.main > .item > .inner > .option {
    width: 100px;
    right: 0;
    top: 0;
    height: unset;
    padding-top: 10px;
    left: unset;
    border-bottom: unset;
}

.main > .item > .inner > .option > button {
    margin-bottom: 10px;
}*/
