.main > .item {
    width: calc(50% - 10px * 2);
    max-width: 554px;
}

.main > .item > .inner > .row {
    width: 130px;
}

.main > .item > .inner > .row >.title{
    width: 45px;
}

.main > .item > .inner > .row.row3 {
    width: 215px;
}

.main > .item > .inner > .row.row4 {
    width: 100%;
}

.main > .item > .inner > .row.row4 > p {
    float: left;
    width: calc(100% - 70px);
    height: 30px;
}