.main table {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto 0 auto;
}

.main table > tbody > tr > td.title {
    text-align: right;
}

.main table .headImg {
    width: 250px;
    height: 300px;
    text-align: center;
    background: #ccc;
    margin: 0 auto;
    position: relative;
}

.main table .headImg > img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.main table .headImg:hover {
    color: #0f99ff !important;
}

.main table .headImg:hover img {
    opacity: .5;
}

.main table .headImg > .iconfont {
    display: block;
    width: 100%;
    height: 50px;
    line-height: 50px;
    font-size: 50px;
    position: absolute;
    top: 100px;
    left: 0;
    z-index: 2;
    text-align: center;
}

.main table .headImg > .iconfont > span {
    font-size: 20px;
}

.main table .input-wrap {
    cursor: pointer;
    padding: 0 10px 0 0;
    white-space: nowrap; /*强制span不换行*/

}

.main table tr>td>.idCardImgContent{
    width:400px;
    background: #ccc;
}
.main table tr>td>.idCardImgContent img{
    width: 100%;
}
.main table tr>td>.workCardImgContent{
    width:400px;
    background: #ccc;
}
.main table tr>td>.workCardImgContent img{
    width: 100%;
}