body {
    overflow: hidden;
}

.nav {
    border-bottom: 1px solid #e9e9e9;
    height: 40px;
    line-height: 40px;
    margin-bottom: 19px;
}

.nav > .title {
    letter-spacing: 1px;
    color: #666;
}

.nav > .title > .iconfont {
    margin-right: 5px;
}

.nav > button {
    margin-left: 10px;
    float: right;
    border: none;
    font-size: 12px;
    height: 25px;
    line-height: 25px;
    color: #fafafa;
    cursor: pointer;
    margin-top: 5px;
    border-radius: 3px;
    padding: 0 10px;
}

.nav > button:hover{
    opacity: .8;
}

.nav > button:active{
    opacity: 1;
}

.nav > button > .iconfont {
    margin-right: 3px;
}

.nav > button.save {
    background: #1b7f58;
}

.nav > button.back {
    background: #0f99ff;
}

.nav > button.reload {
    background: #f2a20f;
}

.main {
    width: 100%;
    height: calc(100% - 60px);
    overflow-x: hidden;
    overflow-y: auto;
}

.main input[type='text'],
.main input[type='date'],
.main textarea {
    border: none;
    border-bottom: 2px solid #ccc;
    min-width: 100px;
    width: 80%;
    padding: 0 10px;
    background: transparent;
    line-height: 30px;
    height: 30px;
    color: #666;
}

.main input[type='text']:focus,
.main input[type='date']:focus,
.main textarea:focus {
    border-bottom: 2px solid #0f99ff;
    color: #0f99ff;
}

.main select{
    width: 100px;
    height: 30px;
    line-height: 30px;
    border:none;
    background: transparent;
    border-bottom: 2px solid #ccc;
}

.main select:hover{
    border-bottom: 2px solid #0f99ff;
}

.main textarea {
    margin-top: 10px;
    background: #fff;
    min-width: 400px;
    line-height: 25px;
    height: 70px;
}